*{
  margin:0;
  padding:0;
}


#root{
  background: linear-gradient(rgb(158, 47, 178),rgb(25, 187, 196));  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:100vh;
}
